<h4 class="display-6 text-center">Compare Plans</h4>

<div class = "container">
    <table class="table p-5 ">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Free</th>
            <th scope="col">Pro</th>
            <th scope="col">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Public</th>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <th scope="row">Private</th>
            <td></td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <th scope="row"> Permissions</th>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <th scope="row">Sharing</th>
            <td></td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <th scope="row"> Unlimited members</th>
            <td></td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <th scope="row"> Extra security </th>
            <td></td>
            <td></td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

</div>